#header{
    background: #111;
    position: relative;
    color: #fff;
    font-size: 18px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

#main{
    background: #fff;
    padding: 0 30px 30px;
    .page-title{
        font-size: 35px;
        padding: 40px 0;
        position: relative;
        text-align: center;
        }
        .content{
            display: flex;
        }
        section{
            flex: 1;
        }
        aside{
            min-width: 250px;
        }
}

#table{
    width: 100%;
    border-collapse: collapse;
    thead{
        border-bottom: 3px solid #ccc;
        th{
            text-align: left;
            padding-bottom: 30px 0;
            text-transform: uppercase;
            color: #666;
        }
    }
    tbody{
        tr{
            border-bottom: 3px solid #ccc;
            &:last-child{
                border: 0;
            }
            td{
                padding: 30px 0;
            }
        }

    }
}

#imagem{
    width: 100px;
    height: 50px;
    border-radius: 6px;
}
#button{
    cursor: pointer;
    font-family: sans-serif;
}

.product{
    display: flex;
    align-items: center;
    .info{
        margin-left: 20px;
        .name{
            margin-bottom: 10px;
            font-size: 20px;
        }
        .category{
            color: #666;
        }
    }
}
.qty{
    background: #eee;
    display: inline-flex;
    padding: 0 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 10px;
    overflow: hidden;
    height: 30px;
      span{
        margin:0 10px;
      }
    #button{
        display: flex;
        align-items: center;
        background: transparent;
        border: 0;
        padding: 0 10px;
        font-size: 20px;
        height: 100%;
        &:hover{
            background: #ddd;
        }
    }
}

.remove{
    background: #eee;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #111;
    &:hover{
        background: #ddd;
    }
}

aside{
    margin-left: 30px;
    .box{
        margin-bottom: 15px;
        border: 1px solid #ccc;
        background: #eee;
        color: #222;

        header{
            padding: 15px 20px;
            font-size: 18px;
            border-bottom: solid 1px #ccc;
        }
        .info{
            padding: 20px;
            > div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                color: #555;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            #button1{
                color: #00CC00;
                background: transparent;
                border: 0;
                display: flex;
                font-size: 16px;
                align-items: center;
                #i{
                    font-size: 18px;
                }
            }
        
        }
        #footer{
            padding: 15px 20px;
            background: #ddd;
            font-size: 18px;
            display: flex;
            justify-content: space-between;

        }

    }
    #button-finalizar{
        border: 0;
        padding: 15px 0;
        color: #fff;
        background: #009900;
        display: block;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        align-items: center;
        &:hover{
            background: #66FF99;
        }
    }
}