#mesa{
    width: 64px;
    height: 64px;
}
.span{
    background-color: #1a7dee;
    background-size: 250px;
    border-radius: 50%;
}

#botaoMesa1.clicked {
    background-color: red; /* Altere para a cor desejada */
    background-size: 100%;
    border-radius: 50%;
}


#div{
    border: 2px black solid ;
    width: 25%;
    margin-top: -25%;
}

#botao{
    position: relative;
    bottom: 20%;
    width: 40%;
    margin-top: 20%;
}



#escolha{
    position: relative;
    bottom: 0;
}
#corpo{
    width: 100%;
    height: 80%;
    position: absolute;
    opacity: 25%;
}
