{% extends 'base.html' %}


{% block content %}

    <main>
        {% for categorias in pratos %}
       
        <div class="category-card">
            <img src="data:image/jpeg;base64,{{ categorias['imagem'] }}" alt="Categoria 1">

            <h3><a>{{categorias['nome']}}</a></h3>
               <div class="intro"><a href="comprar">comprar</a></div>
             <p>{{categorias['descricao']}} </p>  
      
        </div>
        
      {% endfor%}   
</main>

<main>
    <div class=" col-sm-3">
        <a href="{{url_for('index')}}"  class="btn btn-danger">Sair</a>
</div>

{% endblock %}
