{% extends 'base.html' %}

{% block content %}
    <main>
      {% for categorias in categorias %}
        <div class="category-card">
            <img src="data:image/jpeg;base64,{{ categorias['imagem'] }}" alt="Categoria 1">

            <h3><a>{{categorias['nome']}}</a></h3>
             <p>{{categorias['descricao']}} </p>  
      
            <a href="{{url_for('listar', id=categorias['id'])}}" class="btn">Ver Pratos</a>
        </div>
        
      {% endfor%}   
       

    </main>
 
{% endblock %}