<li class="sidebar-item"> 
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard" aria-expanded="false">
      <i class="mdi mdi-chart-bar"></i>
      <span class="hide-menu">Dashboard</span>
  </a>
</li>



<!-- Categorias -->
<li class="sidebar-item"> 
  <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
      <i class="mdi mdi-view-dashboard"></i>
      <span class="hide-menu">Categorias</span>
  </a>
  <ul aria-expanded="false" class="collapse  first-level">
    <li class="sidebar-item"><a href="/admin/listar_categorias" class="sidebar-link"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu"> Listar </span></a></li>
    <li class="sidebar-item"><a href="/admin/cadastrar_categoria" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Cadastrar </span></a></li>
  </ul>
</li>

<!-- Pratos -->
<li class="sidebar-item"> 
  <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
    <i class="mdi mdi-food"></i>
    <span class="hide-menu">Pratos</span>
  </a>
  <ul aria-expanded="false" class="collapse  first-level">
    <li class="sidebar-item"><a href="/admin/listar_pratos" class="sidebar-link"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu"> Listar </span></a></li>
    <li class="sidebar-item"><a href="/admin/cadastrar_pratos" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Cadastrar </span></a></li>
  </ul>
</li>

<!-- Dúvidas -->
<li class="sidebar-item"> 
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="javascript:alert('Em breve!')" aria-expanded="false">
    <i class="mdi mdi-help-circle"></i>
    <span class="hide-menu">Dúvidas</span>
  </a>
</li>

<!-- Reservas -->
<li class="sidebar-item"> 
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/listar_reserva" aria-expanded="false">
    <i class="mdi mdi-calendar-clock"></i>
    <span class="hide-menu">Reservas</span>
  </a>
</li>

<!-- Logout -->
<li class="sidebar-item"> 
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false">
    <i class="mdi mdi-exit-to-app"></i>
    <span class="hide-menu">Logout</span>
  </a>
</li>
