{% extends 'base_adm.html' %}

{% block title %}
  Cadastrar Prato
{% endblock %}

{% block css %}{% endblock %}

{% block conteudo %}
 
 <h2>Cadastrar Prato</h2>
   <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="nome_pratos" class="form-label">Nome do Prato:</label>
            <input type="text" class="form-control" id="nome_pratos" name="nome_pratos" required>
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição:</label>
            <input type="text" class="form-control" id="descricao" name="descricao" required>
        </div>

        <div class="mb-3">
            <label for="imagem" class="form-label">Imagem:</label>
            <input type="file" class="form-control" id="imagem" name="imagem">
        </div>

        <div class="mb-3">
            <label for="categoria_id" class="form-label">Categoria ID:</label>
            <input type="text" class="form-control" id="categoria_id" name="categoria_id">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

{% endblock %}

{% block js %}{% endblock %}
