{% extends 'base_adm.html' %}

{% block title %}
  Editar Contatos
{% endblock %}

{% block css %}{% endblock %}

{% block conteudo %}
 
 <h2>Editar Contatos</h2>
   <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" value="{{ contato['nome'] }}" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" id="email" name="email" value="{{ contato['email'] }}"  required>

    </div>

    <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem Atual:</label>
        <input type="text" class="form-control" id="mensagem" name="mensagem" value="{{ contato['mensagem'] }}" required>
    </div>

    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>


{% endblock %}

{% block js %}{% endblock %}
