{% extends 'base_adm.html' %}

{% block title %}
  Excluir Contatos
{% endblock %}

{% block css %}{% endblock %}

{% block conteudo %}
 
    <div class="dashboard">
        <h1>Excluir Contatos</h1>        
    
        <p>Tem certeza de que deseja excluir a categoria "{{ contato['nome'] }}"?</p>
        
        <form method="POST">
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        </form>
        <br><br>
        <!-- Botão de retorno para outra página -->
        <a href="{{ url_for('listar_contatos') }}" class="btn btn-secondary">Cancelar</a>
    </div>

{% endblock %}

{% block js %}{% endblock %}
