{% extends 'base_adm.html' %}

{% block title %}
  Listar Reserva
{% endblock %}

{% block css %}{% endblock %}

{% block conteudo %}
 
 <h2>Listar Reserva</h2>
 <table  class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Mesa</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reserva %}
            <tr>             
                <td>{{reserva['nome']}}</td>
                <td>{{reserva['Data']}}</td>
                <td>{{reserva['Mesa']}}</td>
                <td><a href="{{url_for('editar_reserva', id=reserva['id'])}}" class="btn btn-info">Editar</a></td>
                <td><a href="{{url_for('excluir_reserva', id=reserva['id'])}}" class="btn btn-danger">Excluir</a></td>
            </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
{% block js %}
{% endblock %}
